In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Covid-19(clss).csv")
# print(df)
df.head(10)

,Cough,Runny_nose,Fever,Tightness_of_chest,Breathing_problem,Headache,Pneumonia,Age,Gender,Travelling_in_last_15days,Victims
0,0,1,100,-1,1,-1,1,19,M,1,1
1,1,0,102,1,1,-1,1,5,F,1,0
2,1,1,98,-1,1,-1,1,5,F,0,1
3,0,0,99,-1,-1,1,1,25,F,1,0
4,1,1,100,-1,0,1,1,55,F,1,0
5,1,1,98,1,0,-1,0,59,M,0,1
6,1,1,100,-1,1,1,1,11,M,0,1
7,1,0,99,-1,-1,0,0,15,M,0,1
8,0,1,102,1,-1,-1,0,99,M,1,1
9,1,1,101,1,-1,0,1,10,F,1,0

In [4]:
df['Gender']=pd.get_dummies(df['Gender'])
df.head(10)

,Cough,Runny_nose,Fever,Tightness_of_chest,Breathing_problem,Headache,Pneumonia,Age,Gender,Travelling_in_last_15days,Victims
0,0,1,100,-1,1,-1,1,19,1,1,1
1,1,0,102,1,1,-1,1,5,0,1,0
2,1,1,98,-1,1,-1,1,5,0,0,1
3,0,0,99,-1,-1,1,1,25,0,1,0
4,1,1,100,-1,0,1,1,55,0,1,0
5,1,1,98,1,0,-1,0,59,1,0,1
6,1,1,100,-1,1,1,1,11,1,0,1
7,1,0,99,-1,-1,0,0,15,1,0,1
8,0,1,102,1,-1,-1,0,99,1,1,1
9,1,1,101,1,-1,0,1,10,0,1,0

In [5]:
# print(df.info())
print(df['Gender'].value_counts())
print(df['Fever'].value_counts())
print(df['Cough'].value_counts())
print(df['Runny_nose'].value_counts())
print(df['Age'].value_counts())
print(df['Breathing_problem'].value_counts())
print(df['Headache'].value_counts())
print(df['Pneumonia'].value_counts())
print(df['Travelling_in_last_15days'].value_counts())
print(df['Victims'].value_counts())

1    1784
0    1042
Name: Gender, dtype: int64
103    432
98     431
101    428
102    393
99     389
104    379
100    374
Name: Fever, dtype: int64
0    1415
1    1411
Name: Cough, dtype: int64
1    1432
0    1394
Name: Runny_nose, dtype: int64
59    46
38    44
58    41
74    39
75    38
      ..
15    20
46    20
93    20
39    19
83    18
Name: Age, Length: 100, dtype: int64
 0    949
 1    943
-1    934
Name: Breathing_problem, dtype: int64
-1    972
 0    967
 1    887
Name: Headache, dtype: int64
0    1417
1    1409
Name: Pneumonia, dtype: int64
1    1415
0    1411
Name: Travelling_in_last_15days, dtype: int64
1    1431
0    1395
Name: Victims, dtype: int64

In [6]:
# df.describe()
y=df[['Victims']]
X=df.drop('Victims',axis=1)
X.head()
y.head()

   Victims
0        1
1        0
2        1
3        0
4        0

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
print(x_train.head())
print(y_train.head())

      Cough  Runny_nose  Fever  Tightness_of_chest  Breathing_problem  \
1873      1           1    101                   0                  0
1523      0           0    102                   1                  0
947       1           1    104                   1                 -1
1301      1           0     98                   0                 -1
2189      1           0    103                   0                  0

      Headache  Pneumonia  Age  Gender  Travelling_in_last_15days
1873        -1          0   97       1                          1
1523        -1          1   94       1                          1
947          1          0   74       1                          0
1301         0          1   48       1                          1
2189         1          1   59       1                          0
      Victims
1873        1
1523        0
947         1
1301        0
2189        0

In [8]:
x_test.head()

,Cough,Runny_nose,Fever,Tightness_of_chest,Breathing_problem,Headache,Pneumonia,Age,Gender,Travelling_in_last_15days
1694,0,0,98,1,-1,-1,1,31,1,0
2584,1,0,104,-1,0,-1,1,45,1,0
326,0,0,101,1,1,0,1,11,0,0
2005,1,0,104,0,-1,1,1,36,0,0
2787,1,0,98,0,-1,0,0,49,0,1

In [9]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)
print(x_train)

(2260, 10)
(566, 10)
(2260, 1)
(566, 1)
      Cough  Runny_nose  Fever  Tightness_of_chest  Breathing_problem  \
1873      1           1    101                   0                  0
1523      0           0    102                   1                  0
947       1           1    104                   1                 -1
1301      1           0     98                   0                 -1
2189      1           0    103                   0                  0
...     ...         ...    ...                 ...                ...
2616      0           0    104                   1                 -1
2098      1           0    103                  -1                 -1
1410      1           1     99                   0                  0
1056      0           0     98                  -1                 -1
558       0           1    104                   0                  1

      Headache  Pneumonia  Age  Gender  Travelling_in_last_15days
1873        -1          0   97       1                          1
1523        -1          1   94       1                          1
947          1          0   74       1                          0
1301         0          1   48       1                          1
2189         1          1   59       1                          0
...        ...        ...  ...     ...                        ...
2616        -1          0   90       0                          1
2098         1          1   59       1                          1
1410         1          1   66       1                          1
1056         1          1   64       1                          1
558          1          1   32       1                          1

[2260 rows x 10 columns]

In [10]:
x_train=x_train.to_numpy()
x_test=x_test.to_numpy()

In [11]:
print(x_test)
print(x_train)

[[  0   0  98 ...  31   1   0]
 [  1   0 104 ...  45   1   0]
 [  0   0 101 ...  11   0   0]
 ...
 [  1   0 103 ...  68   0   1]
 [  1   0 100 ...  46   1   1]
 [  0   0  98 ...  80   1   1]]
[[  1   1 101 ...  97   1   1]
 [  0   0 102 ...  94   1   1]
 [  1   1 104 ...  74   1   0]
 ...
 [  1   1  99 ...  66   1   1]
 [  0   0  98 ...  64   1   1]
 [  0   1 104 ...  32   1   1]]

In [12]:
y_train=y_train.to_numpy().reshape(2260,)
y_test=y_test.to_numpy().reshape(566,)

In [13]:
print(y_train)
print(y_test)

[1 0 1 ... 0 1 1]
[0 0 1 0 0 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 0 0 1 1 1 1 0 1 1 1 0 0 1 1 1
 0 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 1 0 0 0 1 0 1 1 1 1 1 0 1 0 1 1 0 0 1 1 0
 1 1 0 1 0 0 1 1 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 0 1 0 1 0 1 0 1 1
 1 0 1 0 0 0 1 0 1 0 1 1 0 0 0 0 0 1 1 1 0 1 1 0 0 0 1 0 1 0 1 0 0 1 1 1 1
 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1 1 0 1 1 0 0 1 0 1 1 0 1 1 0 1 1 1 1 1 0 1 0
 0 1 0 0 1 1 1 1 0 0 1 0 0 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 1 1 1 1 1 0 1
 0 1 1 1 0 1 0 1 0 0 1 0 1 0 0 0 0 1 1 1 1 1 1 0 1 0 0 1 0 1 0 1 1 1 0 1 1
 1 0 0 0 1 1 1 0 0 0 0 1 0 0 1 0 0 1 1 0 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1 0
 0 0 1 1 0 0 1 1 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 1 1 0 1 1 1 0 0 1 0 1 1
 0 1 0 0 0 0 0 0 1 1 1 0 1 1 1 0 0 1 1 1 1 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 0
 0 0 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0 1
 0 0 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0
 1 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 1 0 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 1 0 1
 0 1 1 1 0 0 1 0 1 1 1 1 0 0 0 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 0 1 0 1 1 0
 1 0 0 0 0 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 0 0 0 1 0 1 1 1 1 1 0 1 0 0 1 0 1
 0 1 1 0 0 0 0 1 0 1 0]

In [14]:
y_train

array([1, 0, 1, ..., 0, 1, 1], dtype=int64)

In [15]:
y_test

array([0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [25]:
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [26]:
clf=LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
# Cough  Runny_nose  Fever  Tightness_of_chest  Breathing_problem  
# Headache  Pneumonia  Age  Gender  Travelling_in_last_15days  
var=[[1,1,104,1,1,1,1,22,1,1]]
ans=clf.predict(var)
# score=accuracy_score(y_test,ans)
# print("score",score)
print(ans)
clf.predict_proba(var)[0][1]

[1]

0.5265469876046314